body, html, header {
  margin: 0;
  padding:0;
}

body{
	background-image:url('site files/text.jpg');
}

@keyframes Appear{
	from{opacity:0;}
	to{opacity:100;}
}

.titulomob{
	display:none;
}

.topoheader {
	margin:0;
	display: flex;
	width:100%;
	background-color: #dad7cd;
	box-shadow: 0px 0px 10px 3px #000000;
}

.titulo {
	font-family: 'Rock Salt';
	margin: 15px;
	width:70%;
	padding-left: 50px;
}

.titulo a {
	font-size: 25px;
	text-decoration: none;
	letter-spacing: 5px;
	color: #344e41;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.titulo a:hover{
	letter-spacing: 7px;
	padding-left:10px;
}

a:visited {
	text-decoration: none;
	color: #344e41;
}

.menu {
	width:30%;
	padding:5px;
	margin:0;
	display: flex;
}

.menu a {
	color: #344e41;
	font-family: 'Athiti';
	margin: 5px;
	font-size: 18px;
	text-decoration: none;
	width: 50%;
	text-align: center;
	align-content: center;
	justify-content:center;
	letter-spacing:2px;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.menu a:hover{
	letter-spacing: 5px;
}

.full{
	background-color: rgb(218, 215, 205, 0.6);
}

.intro {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-top: 100px;
}

.profilepic {
	width:30%;
	justify-content: center;
	align-content: center;
}

.profilepic img{
	width:100%;
	border-radius: 50%;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
}

.introtext{
	font-family: 'Athiti';
	width: 70%;
	padding: 30px;
	font-size: 20px;
}

.introtext p{
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}

.introtext h1{
	font-family: 'Rock Salt';
	letter-spacing: 3px;
	color: #3a5a40;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
}

.resume{
	font-family: 'Athiti';
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-bottom: 100px;
}

.resume h1{
	font-family: 'Rock Salt';
	letter-spacing: 3px;
	color: #3a5a40;
}

.workexp {
	width: 50%;
	padding: 30px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
}

.educationlang {
	width: 50%;
	padding: 30px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
}


footer {
	background-color: #a3b18a;
	display: flex;
	width:100%;
	box-shadow: 0px 0px 10px 3px grey;
}

.footername{
	font-family: 'Rock Salt';
	font-size: 30px;
	letter-spacing:5px;
	width:50%;
	align-content: center;
	text-align: center;
	color: #344e41;
}

.footername a{
	color: #344e41;
	text-decoration: none;
	transition: 0.3s;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.footername a:hover{
	letter-spacing:7px;
}

.contact{
	font-family: 'Athiti';
	width:50%;
	padding: 20px;
	color: #344e41;
	letter-spacing: 2px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.email p{
	letter-spacing: 1px;
	font-size: 20px;
}

.socialmedia {
	width:100%;
}

.socialmedia i{
	margin:5px;
	font-size: 20px;
	background: #3a5a40;
	color: #a3b18a;
	border-radius:50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: 0.3s;
}

.socialmedia i:hover{
	background: #dad7cd;
	color: #344e41 ;
}


@media screen and (min-width: 701px) and (max-width: 1350px){

* { margin: 0; padding: 0; }
	
.topoheader {
	background-color: #dad7cd;
	margin:0;
	display: block;
	text-align: center;
	align-content: center;
	justify-content:center;
	box-shadow: 0px 0px 10px 3px #000000;
}

.titulo {
	width:100%;
	margin:0;
	font-family: 'Rock Salt';
	padding-left: 0px;
	text-align: center;
	align-content: center;
	justify-content:center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.titulo a {
	font-size: 30px;
	text-decoration: none;
	letter-spacing: 5px;
	color: #344e41;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.titulo a:hover{
	letter-spacing: 7px;
	padding-left:0px;
}

a:visited {
	text-decoration: none;
	color: #344e41;
}

.menu {
	margin:0;
	padding: 0;
	display: flex;
	width:100%;
}

.menu a {
	margin:10px;
	width:50%;
	color: #344e41;
	font-family: 'Athiti';
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	align-content: center;
	justify-content:center;
	letter-spacing:2px;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.menu a:hover{
	letter-spacing: 5px;
}

.intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	padding-top: 80px;
	
}

.profilepic {
	width:100%;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.profilepic img{
	width:50%;
	border-radius: 50%;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
}

.introtext{
	width:100%;
	font-family: 'Athiti';
	padding: 0px;
	font-size: 20px;
	
	justify-content: center;
	align-content: center;
}

.introtext p{
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}

.introtext h1{
	text-align: center;
	padding-top:30px;
	padding-bottom:30px;
	font-family: 'Rock Salt';
	font-size:30px;
	letter-spacing: 3px;
	color: #3a5a40;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
}

.resume{
	width:90%;
	font-family: 'Athiti';
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
}

.resume h1{
	font-family: 'Rock Salt';
	letter-spacing: 3px;
	color: #3a5a40;
	padding-bottom:20px;
}

.workexp {
	width:100%;
	padding: 0px;
	padding-top:50px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
}

.educationlang {
	width:100%;
	padding: 0px;
	padding-top:50px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
}


footer {
	background-color: #a3b18a;
	display: block;
	align-content: center;
	text-align: center;
}

.footername{
	width:100%;
	padding-top: 30px;
	font-family: 'Rock Salt';
	font-size: 30px;
	letter-spacing:5px;

	align-content: center;
	text-align: center;
	color: #344e41;
}

.footername a{
	color: #344e41;
	text-decoration: none;
	transition: 0.3s;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.footername a:hover{
	letter-spacing:7px;
}

.contact{
	width:100%;
	padding:0;
	padding-top: 30px;
	font-family: 'Athiti';

	color: #344e41;
	letter-spacing: 2px;
	align-content: center;
	text-align: center;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.email p{
	letter-spacing: 1px;
	font-size: 20px;
}

.socialmedia {
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.socialmedia i{
	margin:5px;
	font-size: 20px;
	background: #3a5a40;
	color: #a3b18a;
	border-radius:50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: 0.3s;
}

.socialmedia i:hover{
	background: #dad7cd;
	color: #344e41 ;
}
}

@media screen and (max-width: 700px){


* { margin: 0; padding: 0; }

.titulomob{
	display: block;
	text-align: center;
	padding-top:30px;
	padding-bottom:30px;
	letter-spacing: 3px;
	color: #3a5a40;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	font-size: 30px;
	font-family: 'Rock Salt';
}

.topoheader {
	background-color: #dad7cd;
	margin:0;
	display: block;
	text-align: center;
	align-content: center;
	justify-content:center;
	box-shadow: 0px 0px 10px 3px #000000;
}

.titulo {
	width:100%;
	margin:0;
	font-family: 'Rock Salt';
	padding-left: 0px;
	text-align: center;
	align-content: center;
	justify-content:center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.titulo a {
	font-size: 30px;
	text-decoration: none;
	letter-spacing: 5px;
	color: #344e41;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.titulo a:hover{
	letter-spacing: 7px;
	padding-left:0px;
}

a:visited {
	text-decoration: none;
	color: #344e41;
}

.menu {
	margin:0;
	padding: 0;
	display: flex;
	width:100%;
}

.menu a {
	margin:10px;
	width:50%;
	color: #344e41;
	font-family: 'Athiti';
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	align-content: center;
	justify-content:center;
	letter-spacing:2px;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.menu a:hover{
	letter-spacing: 5px;
}

.intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	padding-top: 80px;
	
}

.profilepic {
	width:100%;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.profilepic img{
	width:50%;
	border-radius: 50%;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
}

.introtext{
	width:100%;
	font-family: 'Athiti';
	padding: 0px;
	font-size: 20px;
	
	justify-content: center;
	align-content: center;
}

.introtext p{
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}

.introtext h1{	
	display:none;
}

.resume{
	width:90%;
	font-family: 'Athiti';
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
}

.resume h1{
	font-family: 'Rock Salt';
	letter-spacing: 3px;
	color: #3a5a40;
	padding-bottom:20px;
}

.workexp {
	width:100%;
	padding: 0px;
	padding-top:50px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
}

.educationlang {
	width:100%;
	padding: 0px;
	padding-top:50px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
}


footer {
	background-color: #a3b18a;
	display: block;
	align-content: center;
	text-align: center;
}

.footername{
	width:100%;
	padding-top: 30px;
	font-family: 'Rock Salt';
	font-size: 30px;
	letter-spacing:5px;

	align-content: center;
	text-align: center;
	color: #344e41;
}

.footername a{
	color: #344e41;
	text-decoration: none;
	transition: 0.3s;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.footername a:hover{
	letter-spacing:7px;
}

.contact{
	width:100%;
	padding:0;
	padding-top: 30px;
	font-family: 'Athiti';

	color: #344e41;
	letter-spacing: 2px;
	align-content: center;
	text-align: center;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.email p{
	letter-spacing: 1px;
	font-size: 20px;
}

.socialmedia {
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.socialmedia i{
	margin:5px;
	font-size: 20px;
	background: #3a5a40;
	color: #a3b18a;
	border-radius:50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: 0.3s;
}

.socialmedia i:hover{
	background: #dad7cd;
	color: #344e41 ;
}
}

