body, html, header {
  margin: 0;
  padding:0;
  background-color: #EBE0FF;
}
@keyframes Appear{
	from{opacity:0;}
	to{opacity:100;}
}

.topoheader {
	background-color: #230C33;
	margin:0;
	display: flex;
	width:100%;
}

.titulo {
	font-family: 'Annie Use Your Telescope';
	margin: 15px;
	width:70%;
	padding-left: 50px;
}

.titulo a {
	font-size: 40px;
	text-decoration: none;
	letter-spacing: 5px;
	color: #EBE0FF;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.titulo a:hover{
	letter-spacing: 7px;
	padding-left:10px;
}

a:visited {
	text-decoration: none;
	color: #EBE0FF;
}

.menu {
	width:30%;
	padding:5px;
	margin:0;
	display: flex;
}

.menu a {
	font-family: 'Athiti';
	margin: 5px;
	font-size: 18px;
	text-decoration: none;
	width: 50%;
	text-align: center;
	align-content: center;
	justify-content:center;
	letter-spacing:2px;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.menu a:hover{
	letter-spacing: 5px;
}
.intro {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-top: 100px;
}

.profilepic {
	width:30%;
	justify-content: center;
	align-content: center;
}

.profilepic img{
	width:100%;
	border-radius: 50%;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
}

.introtext{
	font-family: 'Athiti';
	width: 70%;
	padding: 30px;
	font-size: 20px;
}

.introtext p{
	text-indent: 50px;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}

.introtext h1{
	font-family: 'Annie Use Your Telescope';
	letter-spacing: 3px;
	color: #592E83;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
}

.resume{
	font-family: 'Athiti';
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-bottom: 100px;
}

.resume h1{
	font-family: 'Annie Use Your Telescope';
	letter-spacing: 3px;
	text-align: center;
	color: #592E83;
}

.workexp {
	width: 50%;
	padding: 30px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
}

.educationlang {
	width: 50%;
	padding: 30px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
}


footer {
	background-color: #230C33;
	display: flex;
	width:100%;
}

.footername{
	font-family: 'Annie Use Your Telescope';
	font-size: 50px;
	letter-spacing:5px;
	width:50%;
	align-content: center;
	text-align: center;
	color: #E1D8F7;
	
}

.footername a{
	color: #E1D8F7;
	text-decoration: none;
	transition: 0.3s;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.footername a:hover{
	letter-spacing:7px;
}

.contact{
	font-family: 'Athiti';
	width:50%;
	padding: 20px;
	color: #E1D8F7;
	letter-spacing: 2px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.email p{
	letter-spacing: 1px;
	font-size: 20px;
}

.socialmedia {
	width:100%;
}

.socialmedia i{
	margin:5px;
	font-size: 20px;
	background: #D7C8F3;
	color: #592E83;
	border-radius:50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: 0.3s;
}

.socialmedia i:hover{
	background: #CAA8F5;
	color: #FFFFFF ;
}