body, html, header {
  margin: 0;
  padding:0;
}


.topoheader {
	background-color: red;
	margin:0;
	display: flex;
	width:100%;
}

.titulo {
	background-color: yellow;
	margin: 15px;
	width:75%;
}

.menu {
	width:25%;
	padding:5px;
	margin:0;
	background-color: blue;
	display: flex;
}

.menu a {
	background-color: white;
	width: 50%;
	text-align: center;
	align-content: center;
	justify-content:center;
}


.DemoReel {
	background-color: orange;
	display: flex;
	flex-flow: column;
	text-align: center;
	height:100%;
	
}

.videoframe{
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}


footer {
	background-color: purple;
	display: flex;
	width:100%;
}

.footername{
	width:50%;
}

.contact{
	width:50%;
}
socialmedia i{
	font-size: 30px;
  background: #3B5998;
  border-radius:50%;
}