body, html, header {
  margin: 0;
  padding:0;
}

html{
	overflow: auto;
}

body{
	background-image:url('site files/text.jpg');
}

@keyframes Appear{
	from{opacity:0;}
	to{opacity:100;}
}

.topoheader {
	margin:0;
	display: flex;
	width:100%;
	background-color: #dad7cd;
	box-shadow: 0px 0px 10px 3px #000000;
}

.titulo {
	font-family: 'Rock Salt';
	margin: 15px;
	width:70%;
	padding-left: 50px;
}

.titulo a {
	font-size: 25px;
	text-decoration: none;
	letter-spacing: 5px;
	color: #344e41;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.titulo a:hover{
	letter-spacing: 7px;
	padding-left:10px;
}

a:visited {
	text-decoration: none;
	color: #344e41;
}

.menu {
	width:30%;
	padding:5px;
	margin:0;
	display: flex;
}

.menu a {
	color: #344e41;
	font-family: 'Athiti';
	margin: 5px;
	font-size: 18px;
	text-decoration: none;
	width: 50%;
	text-align: center;
	align-content: center;
	justify-content:center;
	letter-spacing:2px;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.menu a:hover{
	letter-spacing: 5px;
}

.WorkReels {
	background-color: rgb(218, 215, 205, 0.6);
	text-align: center;
	display: flex;	
	flex-flow: column nowrap;
	padding-top: 30px;
	padding-bottom: 100px;
}

.WorkReels h1{
	font-family: 'Rock Salt';
	color:#3a5a40;
	font-size: 20px;
	letter-spacing: 5px;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.4s;
	animation-fill-mode: both;
}

.vimeoreels{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	display: flex;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.5s;
	animation-fill-mode: both;
}

.vimeoframe{
	width:33.3%;
	padding:10px;
}

.gifgallery{
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.6s;
	animation-fill-mode: both;
	
	flex-wrap: wrap;
	justify-content: flex-start;
	
	align-content: center;
	justify-content: center;
	text-align: center;
}


.imageblock {
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	width: 30%;
	transition:0.2s;
}

.imageblock img{
	width:100%;
}

.imageblock:hover{
	opacity: 0.3;
	width:31%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0,0.9); /* Black w/ opacity */
}

.close{
	display:block;
	align-content: center;
	justify-content: center;
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
}

.close:hover{
	cursor: pointer;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0.5)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0.5)} 
  to {transform:scale(1)}
}


footer {
	background-color: #a3b18a;
	display: flex;
	width:100%;
	box-shadow: 0px 0px 10px 3px grey;
}

.footername{
	font-family: 'Rock Salt';
	font-size: 30px;
	letter-spacing:5px;
	width:50%;
	align-content: center;
	text-align: center;
	color: #344e41;
}

.footername a{
	color: #344e41;
	text-decoration: none;
	transition: 0.3s;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.footername a:hover{
	letter-spacing:7px;
}

.contact{
	font-family: 'Athiti';
	width:50%;
	padding: 20px;
	color: #344e41;
	letter-spacing: 2px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.email p{
	letter-spacing: 1px;
	font-size: 20px;
}

.socialmedia {
	width:100%;
}

.socialmedia i{
	margin:5px;
	font-size: 20px;
	background: #3a5a40;
	color: #a3b18a;
	border-radius:50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: 0.3s;
}

.socialmedia i:hover{
	background: #dad7cd;
	color: #344e41 ;
}



@media screen and (min-width: 701px) and (max-width: 1350px){

* { margin: 0; padding: 0; }

.modal-content{
	width:100%;
}
	
.topoheader {
	background-color: #dad7cd;
	margin:0;
	display: block;
	text-align: center;
	align-content: center;
	justify-content:center;
	box-shadow: 0px 0px 10px 3px #000000;
}

.titulo {
	width:100%;
	margin:0;
	font-family: 'Rock Salt';
	padding-left: 0px;
	text-align: center;
	align-content: center;
	justify-content:center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.titulo a {
	font-size: 30px;
	text-decoration: none;
	letter-spacing: 5px;
	color: #344e41;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.titulo a:hover{
	letter-spacing: 7px;
	padding-left:0px;
}

a:visited {
	text-decoration: none;
	color: #344e41;
}

.menu {
	margin:0;
	padding: 0;
	display: flex;
	width:100%;
}

.menu a {
	margin:10px;
	width:50%;
	color: #344e41;
	font-family: 'Athiti';
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	align-content: center;
	justify-content:center;
	letter-spacing:2px;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.menu a:hover{
	letter-spacing: 5px;
}

.WorkReels {
	background-color: rgb(218, 215, 205, 0.6);
	text-align: center;
	display: flex;	
	flex-flow: column nowrap;
	padding-top: 50px;
	padding-bottom: 100px;
}

.WorkReels h1{
	font-family: 'Rock Salt';
	color:#3a5a40;
	font-size: 20px;
	letter-spacing: 5px;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.4s;
	animation-fill-mode: both;
	padding-bottom:50px;
}

.vimeoreels{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	display: block;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.5s;
	animation-fill-mode: both;
}

.vimeoframe{
	width:100%;
	padding:5px;
}

.gifgallery{
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.6s;
	animation-fill-mode: both;
	
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.imageblock {
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	width: 45%;
	transition:0.2s;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.imageblock img{
	width:100%;
}

.imageblock:hover{
	opacity: 0.3;
	width:46%;
}

footer {
	background-color: #a3b18a;
	display: block;
	align-content: center;
	text-align: center;
}

.footername{
	width:100%;
	padding-top: 30px;
	font-family: 'Rock Salt';
	font-size: 30px;
	letter-spacing:5px;

	align-content: center;
	text-align: center;
	color: #344e41;
}

.footername a{
	color: #344e41;
	text-decoration: none;
	transition: 0.3s;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.footername a:hover{
	letter-spacing:7px;
}

.contact{
	width:100%;
	padding:0;
	padding-top: 30px;
	font-family: 'Athiti';

	color: #344e41;
	letter-spacing: 2px;
	align-content: center;
	text-align: center;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.email p{
	letter-spacing: 1px;
	font-size: 20px;
}

.socialmedia {
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.socialmedia i{
	margin:5px;
	font-size: 20px;
	background: #3a5a40;
	color: #a3b18a;
	border-radius:50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: 0.3s;
}

.socialmedia i:hover{
	background: #dad7cd;
	color: #344e41 ;
}
}


@media screen and (max-width: 700px){


* { margin: 0; padding: 0; }

.modal-content{
	width:100%;
}
	
.topoheader {
	background-color: #dad7cd;
	margin:0;
	display: block;
	text-align: center;
	align-content: center;
	justify-content:center;
	box-shadow: 0px 0px 10px 3px #000000;
}

.titulo {
	width:100%;
	margin:0;
	font-family: 'Rock Salt';
	padding-left: 0px;
	text-align: center;
	align-content: center;
	justify-content:center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.titulo a {
	font-size: 30px;
	text-decoration: none;
	letter-spacing: 5px;
	color: #344e41;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.titulo a:hover{
	letter-spacing: 7px;
	padding-left:0px;
}

a:visited {
	text-decoration: none;
	color: #344e41;
}

.menu {
	margin:0;
	padding: 0;
	display: flex;
	width:100%;
}

.menu a {
	margin:10px;
	width:50%;
	color: #344e41;
	font-family: 'Athiti';
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	align-content: center;
	justify-content:center;
	letter-spacing:2px;
	transition: 0.5s;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.menu a:hover{
	letter-spacing: 5px;
}

.WorkReels {
	background-color: rgb(218, 215, 205, 0.6);
	text-align: center;
	display: flex;	
	flex-flow: column nowrap;
	padding-top: 50px;
	padding-bottom: 100px;
}

.WorkReels h1{
	font-family: 'Rock Salt';
	color:#3a5a40;
	font-size: 20px;
	letter-spacing: 5px;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.4s;
	animation-fill-mode: both;
	padding-bottom:50px;
}

.vimeoreels{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	display: block;
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.5s;
	animation-fill-mode: both;
}

.vimeoframe{
	width:100%;
	padding:5px;
}

.gifgallery{
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay:0.6s;
	animation-fill-mode: both;
	
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.imageblock {
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	width: 90%;
	transition:0.2s;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.imageblock img{
	width:100%;
}

.imageblock:hover{
	opacity: 0.3;
	width:99%;
}

footer {
	background-color: #a3b18a;
	display: block;
	align-content: center;
	text-align: center;
}

.footername{
	width:100%;
	padding-top: 30px;
	font-family: 'Rock Salt';
	font-size: 30px;
	letter-spacing:5px;

	align-content: center;
	text-align: center;
	color: #344e41;
}

.footername a{
	color: #344e41;
	text-decoration: none;
	transition: 0.3s;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-fill-mode: both;
}

.footername a:hover{
	letter-spacing:7px;
}

.contact{
	width:100%;
	padding:0;
	padding-top: 30px;
	font-family: 'Athiti';

	color: #344e41;
	letter-spacing: 2px;
	align-content: center;
	text-align: center;
	
	animation-name: Appear;
	animation-duration:2s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.email p{
	letter-spacing: 1px;
	font-size: 20px;
}

.socialmedia {
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.socialmedia i{
	margin:5px;
	font-size: 20px;
	background: #3a5a40;
	color: #a3b18a;
	border-radius:50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	transition: 0.3s;
}

.socialmedia i:hover{
	background: #dad7cd;
	color: #344e41 ;
}
}
